Search/xml/config/xsd/wc-dataload-env.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2015 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
-->

<xsd:schema
	targetNamespace="http://www.ibm.com/xmlns/prod/commerce/foundation/config"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:_config="http://www.ibm.com/xmlns/prod/commerce/foundation/config"
	elementFormDefault="qualified" attributeFormDefault="unqualified" >

	<xsd:include schemaLocation="wc-dataload-common.xsd"></xsd:include>
	
	<xsd:annotation>
		<xsd:documentation>
&lt;P&gt;
This configuration file defines the environment that the data is loaded into.
&lt;/P&gt;</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="DataLoadEnvConfiguration"
		type="_config:DataLoadEnvConfiguration">
		<xsd:annotation>
			<xsd:documentation>
&lt;P&gt;
This configuration file defines the environment that the data is loaded into.
&lt;/P&gt;
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="DataLoadEnvConfiguration">
		<xsd:annotation>
			<xsd:documentation>
&lt;P&gt;
This configuration file defines the environment that the data is loaded into.
&lt;/P&gt;
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="property" type="_config:NameValuePair"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						&lt;P&gt; A section for defining custom
						properties in the form of name-value pairs that
						define load order information. &lt;/P&gt;
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>


			<xsd:element name="DataSource" type="_config:DataSource"
				minOccurs="0" maxOccurs="1" />

			<xsd:element name="DataWriter" type="_config:DataWriter"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="DataExtension" type="_config:DataExtension" maxOccurs="1" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>



	<xsd:complexType name="Database">
		<xsd:annotation>
			<xsd:documentation>			
&lt;P&gt;
The database properties needed to connect to the target database.
&lt;/P&gt;

&lt;TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0" SUMMARY=""&gt;
  &lt;TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor"&gt;
    &lt;TD&gt;
	Attribute	
    &lt;/TD&gt;
    &lt;TD&gt;
	Type
    &lt;/TD&gt;
    &lt;TD&gt;
	Required
    &lt;/TD&gt;
    &lt;TD&gt;
	Default Setting
    &lt;/TD&gt;
    &lt;TD&gt;
	Description
    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	type
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	Yes
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The database type. For example, "derby".
&lt;/P&gt;

&lt;P&gt;
Supported values are "derby", "db2" and "oracle".
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	name
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	Yes
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The name of the database the data is being loaded into.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	user
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The database user ID.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	password
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The database password. The database password can be overridden on the command line. Do not specify the password inside the configuration file  unless the password is encrypted.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	server 
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The name of the server the database is on.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	port 
    &lt;/TD&gt;
    &lt;TD&gt;
	int
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The port to connect to the database.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	driverType
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The database driver type.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	schema
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	No
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The name of the database schema.
&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;


&lt;/TABLE&gt;				
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="type" type="xsd:string" use="required" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The database type. For example, "derby".
&lt;/P&gt;
				
&lt;P&gt;
Supported values are "derby", "db2" and "oracle".
&lt;/P&gt;</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="name" type="xsd:string" use="required" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The name of the database the data is being loaded into.
&lt;/P&gt;
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="user" type="xsd:string" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The database user ID.
&lt;/P&gt;				
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="password" type="xsd:string" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The database password. The database password can be overridden on the command line. Do not specify the password inside the configuration file unless the password is encrypted.
&lt;/P&gt;				
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="server" type="xsd:string" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The name of the server the database is on.
&lt;/P&gt;				
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="port" type="xsd:int" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The port to connect to the database.
&lt;/P&gt;
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
		<xsd:attribute name="driverType" type="xsd:string" use="optional" form="unqualified">
            <xsd:annotation>
            	<xsd:documentation>
&lt;P&gt;
The database driver type.
&lt;/P&gt;            	
            	</xsd:documentation>
            </xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="schema" type="xsd:string" use="optional" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The database driver type.
&lt;/P&gt;
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="DataSource">
		<xsd:annotation>
			<xsd:documentation>			
&lt;P&gt;
The datasource properties needed to connect to the target database.
&lt;/P&gt;			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="reference" type="xsd:string" use="required" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The JNDI name of the datasource the data is being loaded into.
&lt;/P&gt;
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
	</xsd:complexType>
	

	
	<xsd:complexType name="DataWriter">
        <xsd:annotation>
        	<xsd:documentation>			
&lt;P&gt;
The data writer to use for the entire load. This can be overridden in the business object configuration file.
&lt;/P&gt;

&lt;TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0" SUMMARY=""&gt;
  &lt;TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor"&gt;
    &lt;TD&gt;
	Attribute	
    &lt;/TD&gt;
    &lt;TD&gt;
	Type
    &lt;/TD&gt;
    &lt;TD&gt;
	Required
    &lt;/TD&gt;
    &lt;TD&gt;
	Default Setting
    &lt;/TD&gt;
    &lt;TD&gt;
	Description
    &lt;/TD&gt;
  &lt;/TR&gt;


  &lt;TR&gt;
    &lt;TD&gt;
	className
    &lt;/TD&gt;
    &lt;TD&gt;
	String
    &lt;/TD&gt;
    &lt;TD&gt;
	Yes
    &lt;/TD&gt;
    &lt;TD&gt;
	N/A
    &lt;/TD&gt;
    &lt;TD&gt;

&lt;P&gt;
The data writer implementation class

&lt;UL&gt;
	&lt;LI&gt;
		&lt;STRONG&gt;com.ibm.commerce.foundation.dataload.datawriter.JDBCDataWriter:&lt;/STRONG&gt;  &lt;BR/&gt;  
		This data writer writes the physical objects to the database directly using JDBC with batch support. This is typically used in the delta data load scenario.
	&lt;/LI&gt;

	&lt;LI&gt;
		&lt;STRONG&gt;com.ibm.commerce.foundation.dataload.datawriter.NativeDBDataWriter:&lt;/STRONG&gt; &lt;BR/&gt;  
		This data writer converts the physical objects to a file in the database native loadable format. This is usually used in the initial data load.
	&lt;/LI&gt;
&lt;/UL&gt;

&lt;/P&gt;

    &lt;/TD&gt;
  &lt;/TR&gt;
&lt;/TABLE&gt;				
        	</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
			<xsd:element name="property" type="_config:NameValuePair" minOccurs="0" maxOccurs="unbounded" >
				<xsd:annotation>
					<xsd:documentation>
&lt;P&gt;
An area defining custom properties for use with a custom data writer.
&lt;/P&gt;
					</xsd:documentation>
				</xsd:annotation></xsd:element>
            <xsd:element name="DataLoadBatchService" type="_config:DataLoadBatchService" minOccurs="0" maxOccurs="1">
            </xsd:element>
		</xsd:sequence>
		
		<xsd:attribute name="className" type="xsd:string" use="required" form="unqualified">
			<xsd:annotation>
				<xsd:documentation>
&lt;P&gt;
The data writer implementation class.

&lt;UL&gt;
	&lt;LI&gt;
		&lt;STRONG&gt;com.ibm.commerce.foundation.dataload.datawriter.JDBCDataWriter:&lt;/STRONG&gt;  &lt;BR/&gt;  
		This data writer writes the physical objects to the database directly using JDBC with batch support. Typically used for delta data load scenarios.
	&lt;/LI&gt;

	&lt;LI&gt;
		&lt;STRONG&gt;com.ibm.commerce.foundation.dataload.datawriter.NativeDBDataWriter:&lt;/STRONG&gt; &lt;BR/&gt;  
		This data writer converts the physical objects to a file in the database native loadable format. Typically used for initial data load scenarios.
	&lt;/LI&gt;
&lt;/UL&gt;				
				</xsd:documentation>
			</xsd:annotation></xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="DataExtension">
	
		<xsd:annotation>
			<xsd:documentation>
				Defines a list of optional classes to be loaded and run right before and after performing
				any IndexLoad tasks
			</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>
			<xsd:element name="ExtensionLoader"
				type="_config:ExtensionLoader" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>		</xsd:sequence>

	</xsd:complexType>

	<xsd:complexType name="ExtensionLoader">
        <xsd:attribute name="className" type="xsd:string" use="required">
        	<xsd:annotation>
				<xsd:documentation>
					Defines the class name of this extension loader
				</xsd:documentation>
			</xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="at" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					Defines when this extension should be loaded. Supported values are:
					- startup
					- shutdown
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
    </xsd:complexType>
</xsd:schema>